@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* for font */

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
  }

  /* background color */
  .bg-color{
    background-color: black;
  }


  body{
    margin: 0 auto;
  }


  .fitness{
    color: rgb(230, 83, 60);
font-size: 2rem;
font-weight: 900;
font-style: italic;

  }

  .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

  }
  header{
    width: 1200px;
margin: 0 auto;
  
}
.nav-link{

  display: flex;
  justify-content: center;
  align-items: center;


}

.box{

border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 39px;
width: 380px;
height: 46px;

}
.nav-item{
  list-style: none;
  margin-right:30px;
}
.nav-btn{
  background: rgb(230, 83, 60);
  border-radius: 46px;
  width: 95px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
}


.nav-linker{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner{
  display: flex;
  justify-content: space-between;
}
.banner-content{
  width:510px;

}
.banner-title{
  color: rgb(255, 255, 255);
font-size: 70px;
font-weight: 900;
margin-bottom: 0px;
line-height:75px;

}
#shape{
  font-family: 'Miama', sans-serif;
  font-style: italic;
  font-weight: 400;
}
.banner-des{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(255, 255, 255,0.5);
  margin-top: 40px;
}
 .join,.btn-first{
  background: rgb(230, 83, 60);
    border-radius: 42px;
    color:white;
    padding:10px 5px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width:180px;
    margin-top: 20px;

}

.btn-second{
  background:none;
  border-radius: 42px;
  color:white;
  padding:10px 5px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid white;
  width:180px;
  margin-left: 15px;
  margin-top: 20px;
}
 .banner-btn1{
  width: 206px;
height: 90px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;
display: flex;
justify-content: space-around;
margin-left: -100px;
  margin-top: -150px;
  padding: 20px 10px;
  align-items: center;
}
.red-circle{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
}
.banner-pic{
  width:349px;
  height:550px;
  margin-top:30px;
  margin-right: 70px;
  background-color:black
  

  
  
}
.button-content{
  width:108px;
  padding:10px;
}
.videos{
  color:white;
  font-size: 24px;
font-weight: 900;
}
.banner-btn2{
  width:180px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  color: rgba(239, 237, 232, 0.65);
  font-size: 14px;
  position: relative;
  bottom:390px;
  left:240px;
  
}

.channge-your-habits{
  width:1044px;
  margin: 0 auto;
  margin-bottom: 80px;

}
.habit-deatils{
  text-align: center;

}
.section-title{
  color:white;
  font-size:3rem;
  font-weight: 900px;


}
.section-para{
  color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
  
}
.habit-pic{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 50px;
}
.habit-pic img{
  height: 150px;
  width:150px;
  border-radius: 50%;
}
.pic-title{
  color:white;
  font-size:1rem;
  font-weight: 600;


}
.pic-deatils{
  color:rgba(255, 255, 255, 0.5);
  font-size:14px;
  

}
.pic{
  text-align: center;
}
.Run-easliy{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(34, 34, 34, 1);
  border-radius: 15px;
  width:1060px;
  height: 370px;
  margin:0 auto;
}
.run-deatils{
  width: 450px;
  height: 200px;
  flex:1;
  padding: 20px;
}
.run-img{
  
    width: 290px;
    height: 190px; 
    
}
.run-headling{
  width:400px;
  font-weight: 900;
  font-size: 48px;
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 40px;
   
}
 .Run-easliy .run-para{
  color:rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  width:280px;
  height: 96;
  margin-left: 40px;
}
.join{
  margin-left: 40px;
}
.run-img{
  width:400px;
  height: 312px;
  margin: 30px;
  border-radius: 18px;
  
}
.Trainings{
  width:1060px;
  height: 580px;
  margin: 0 auto;
  align-items: center;

}
.Training-container{
  width:670px;
  height: 120px;
  gap:14px;

}
.training-head{
  width:580px;
  height: 58px;
  font-weight: 900;
  font-size: 48px;
  color:rgba(255, 255, 255, 1) ;
  margin-top: 70px;
  margin-bottom: 10px;
}
.traning-para{
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  width:1060px;
  margin-top:40px ;
}
 .grid-item {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}


.overlay {
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
}


.overlay.red { background-color: rgba(255, 0, 0, 0.3); 
}
.overlay.green {
   background-color: rgba(0, 255, 0, 0.3);
 }
.overlay.blue { background-color: rgba(0, 0, 255, 0.3); }


/* Responsive*/
/*iphon*/

@media screen and (max-width: 576px){
  .navbar{
    flex-direction: row;
    justify-content: left;
    gap:200px;
    
  }
  .menu-bar{
    display: block;
    width:18px;
    display: grid;
    margin-left: 20px;
  }
  .menu{
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 2px;
    

}
.fitness{
  margin-left: 20px;
}
.nav-link{
  display: none;
}
.banner{
  flex-direction: column;
}

.banner-title{
  text-align: left;
  font-size:36px;
  width:285px;
  margin-left:25px;
  line-height: 50px;

}
.banner-des{
  width:270px;
  height: 90px;
  margin-left: 20px;
  margin-top: 10px;
}
.btn-first,.btn-second{
  margin-top: auto;
}
.banner-btn1{
  width:170px;
  height: 70px;
 margin-left:35px;
  border: 1px;
  position: relative;
  bottom: 150px;
  font-size: 20px;
  
}
.red-circle{
  width:30px;
  height: 30px;
}
.button-content{
text-wrap: nowrap;
}
.video{
  font-size:20px;
  
}
.banner-btn2{
  width: 145px;
  height: 75px;
  margin-top: -100px;
  font-size: 14px;
}
.videos{
  font-size: 30px;
}

.channge-your-habits{
  width:340px;
  margin-top: 100px;
}
 .habit-pic{
  display: flex;
  flex-direction: column;
 }
 .pic{
  margin-bottom: 30px;
 }
 .Run-easliy{
  flex-direction: column;
  width:360px;
  height: 530px;
  margin-left: 20px;
  border-radius: 18px;
  margin-top: 10px;
  

 }
 .run-deatils{
  margin-left: 50px;
 }
 .run-img{
  width:290px;
  height:170px;
  object-fit: fill;
margin-left:20px ;
 }
 .join{
  width:280px;
  height: 50px;
  border-radius: 40px;
  padding: 16px 40px ;
  justify-content: center;
  margin-top: 5px;
 }
  .run-para{
  width:280px;
  height: 96px;
  font-size: 14px;
 }
 .run-headling{
  width:280px;
  font-size: 32px;
  
 }

}
/* ipad */

@media screen and (min-width: 576px) and (max-width:992px){

  .navbar{
    
    justify-content: space-between;
    gap:20px;
    width:50%;
    
  }



  .banner{
    flex-direction: column;
    width:1024px;
    margin-left: 70px;
    

  }
  .menu-bar{
    gap:30px;
    margin-left: 200px;
    
  }
  .banner-content{
    margin-left:50px;
  }
  .fitness{
    margin-left: 50px;
  }
  .banner-pic{
    margin-left: 120px;
  }
  .banner-btn1{
    width:170px;
    height: 70px;
   margin-left:35px;
    border: 1px;
    position: relative;
    bottom: 150px;
    font-size: 20px;
    
  }
  .red-circle{
    width:30px;
    height: 30px;
  }
  .button-content{
  text-wrap: nowrap;
  }
  .video{
    font-size:20px;
    
  }
  .banner-btn2{
    width: 145px;
    height: 75px;
    margin-top: -50x;
    margin-left:70px;
    font-size: 14px;
  }
  .videos{
    font-size: 30px;
  }
  .channge-your-habits{
    width:350px;
    margin-left:200px;
  }
  .habit-pic{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
  }
  .section-title{
    text-wrap: nowrap;
     font-size:48px;
    text-align: center;
    margin-top: 50px;
    font-weight: 900;
    width:350px;
    
  }
  .section-para{
    font-weight: 400;
    font-size: 14px;
    width: 450px;
    text-align: center;
    margin-left: 0;
    margin-right: 10px;


  }
  .pic-deatils{
    font-weight: 400;
    font-size: 10px;

  }
  .Run-easliy{
    width:500px;
    margin: 40px;
    height: 200px;

    
  }
  
  }

